.idea/
target/
src/main/resources/.sass-cache
src/main/resources/etc
src/main/resources/node
src/main/resources/node_modules
src/main/resources/static
src/main/resources/npm-debug.log
src/main/resources/package-lock.json
